*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F0F2F5;
}

input[type = "file"]{
    display: none;
}
.formChangeAvatar label{
    border: 1px solid #746d6d;
    display: inline-block;
    padding: 3px 6px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    background-color:#43609C;
    margin-left: 20px;
}

.formChangeAvatar label:hover{
    color: rgba(0,0,0,0.9);
}

.navbar{
    background-color:#43609C;
    width: 100%;
    color: white;
    display: flex;
    justify-content: flex-end;

}
.navbar a {
    color: white;
    cursor: pointer;
    text-decoration: none;
    margin-right: 20px;
}
.navbar a:hover{
    color: rgba(0,0,0,0.9);
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!SECTION FRIENDS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.userCard{
    width: 150px;
    margin: 20px;
    background-color: #fff;
    float: left;
}
.userAvatar{
    width: 150px;
    height: 120px;
}
.userAvatar img{
    object-fit: cover;
    height: 100%;
    width:100%;
}
.userAbout{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}
.userAbout p{
    overflow: hidden;
}

/*////////////////////////////////CHAT////////////////////////////////////////////////////*/
section.chat h2 {
    text-align: center;
}


.messages{
    width: 50%;
    height: 400px;
    overflow: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: #43609C;
    scroll-behavior: smooth;
}

.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}

.sendMsg{

    position: absolute;
    top:485px;
    left: 50%;
    width: 50%;
    transform: translate(-50%);
    display: flex;


}
#textMessage{
    width: 100%;
}
