*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F0F2F5;
}

input[type = "file"]{
    display: none;
}
.formChangeAvatar label{
    border: 1px solid #746d6d;
    display: inline-block;
    padding: 3px 6px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    background-color:#43609C;
    margin-left: 20px;
}

.formChangeAvatar label:hover{
    color: rgba(0,0,0,0.9);
}

.navbar{
    background-color:#43609C;
    width: 100%;
    color: white;
    display: flex;
    justify-content: flex-end;

}
.navbar a {
    color: white;
    cursor: pointer;
    text-decoration: none;
    margin-right: 20px;
}
.navbar a:hover{
    color: rgba(0,0,0,0.9);
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!SECTION FRIENDS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.userCard{
    width: 150px;
    margin: 20px;
    background-color: #fff;
    float: left;
}
.userAvatar{
    width: 150px;
    height: 120px;
}
.userAvatar img{
    object-fit: cover;
    height: 100%;
    width:100%;
}
.userAbout{
    margin-top: 5px;
    display: flex;
    flex-direction: column;

}